{% extends "easy_pdf/base.html" %}
{% load static %}
{% load mathfilters %}

{% block extra_style %}
    <link rel="stylesheet" href="{% static '/css/custom.css' %}" />
    <style type="text/css">
        @page {
            margin-left: 1.5cm;
            margin-right: 1.5cm;
            margin-top: 1.5cm;
            margin-bottom: 1.5cm;
        }
        @font-face {
            font-family: Cuprum;
            src: url(/static/fonts/Cuprum-Regular.ttf); }
        @font-face {
            font-family: CuprumBold;
            src: url(/static/fonts/Cuprum-Bold.ttf); }
        .cuprum {
            font-family: Cuprum, sans-serif;
        }
        .font-24 {
            font-size: 24px;
        }
        .font-20 {
            font-size: 20px;
        }
        .font-16 {
            font-size: 16px;
        }
        .bold {
            font-family: CuprumBold, sans-serif;
        }
        .font-18 {
            font-size: 18px;
        }
        .font-14 {
            font-size: 14px;
        }
        .m-t-8- {
            margin-top: -8px;
        }
        .m-l-8 {
            margin-left: 8px;
        }
        .m-b-8- {
            margin-bottom: -8px;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="content">
        <div class="main cuprum font-16">
            <div class="container">
                <table class="m-0">
                    <tr>
                        <td class="center" colspan="2">
                            <span class="font-24 bold">
                                Centrum Księdza Orione
                                <br />
                                w Brańszczyku
                                <br/>
                            </span>
                            <span class="font-16 font">
                                Dom Emeryta | Dom Rekolekcyjny <br />
                                Drabina Jakubowa | Rehabilitacja+
                            </span>
                        </td>
                        <td colspan="3">
                            <img src="{% static '/images/icons.png' %}" />
                        </td>
                    </tr>
                    <tr>
                        <td class="font-16" colspan="2">
                        </td>
                        <td class="right font-16 p-t-5" colspan="3">
                            Brańszczyk, {{ batchvolunteer.batch_end_date|date:"d.m.Y" }}
                        </td>
                    </tr>
                </table>

                <div class="center m-0">
                    <span class="bold font-24">ZAŚWIADCZENIE</span>
                </div>

            <div class="justify m-0 m-b-5 text-indent">
                Zaświadcza się, że: <br />
                <div class="text-indent">
                    {{ batchvolunteer.volunteer.first_name }} {{ batchvolunteer.volunteer.surname }},

                    {% if batchvolunteer.volunteer.sex == 'K' %}
                        zamieszkała
                    {% else %}
                        zamieszkały
                    {% endif %}

                    w {{  batchvolunteer.volunteer.zip_code }} {{  batchvolunteer.volunteer.city }},
                    przy ulicy {{ batchvolunteer.volunteer.address }}, o numerze PESEL {{ batchvolunteer.volunteer.pesel }}

                    {% if batchvolunteer.volunteer.sex == 'K' %}
                        uczestniczyła
                    {% else %}
                        uczestniczył
                    {% endif %}

                    w Turnusie Rekolekcyjnym dla Osób Niepełnosprawnych, Chorych, Starszych i Samotnych –
                    {{ congregation.community }}, którego Organizatorem było {{ congregation }}, jako

                    {% if batchvolunteer.volunteer.sex == 'K' %}
                        wolontariuszka
                    {% else %}
                        wolontariusz
                    {% endif %}

                    w charakterze koordynatora turnusu.

                    Turnus odbywał się w dniach
                    {{ batchvolunteer.batch_begin_date|date:"d.m" }} - {{ batchvolunteer.batch_end_date|date:"d.m.Y" }} r.
                    w placówce: {{ batchvolunteer.batch.institution.name }} w miejscowości {{ batchvolunteer.batch.institution.city }}.
                    Wymiar godzinowy wolontariatu:
                </div>
            </div>

                <table class="m-t-15 m-b-15">
                    <tr>
                        <td class="center">
                            praca przed turnusem,
                            <br />
                            {% with batchvolunteer.add_days|mul:14 as additional_days %}
                                {{ additional_days }}
                            {% endwith %}
                        </td>
                        <td class="center">
                            praca w trakcie turnusu.
                            <br />
                            {% with batchvolunteer.batch_days|add:2|mul:14 as days %}
                                {{ days }}
                            {% endwith %}
                        </td>
                    </tr>
                </table>

                Do obowiązków koordynatora przed turnusem należało:

                <table class="m-0 m-b-15">
                    <tr class="light-blue">
                        <td class="p-l-5">
                            <div class="light-blue p-t-5 p-b-0">
                                <img src="{% static '/images/dot.png' %}" />
                            </div>
                        </td>
                        <td colspan="19">
                            <div class="light-blue p-t-5 p-b-0">
                                zapoznanie się z obiektem
                            </div>
                        </td>
                    </tr>
                    <tr class="p-t-2">
                        <td class="p-l-5">
                            <img src="{% static '/images/dot.png' %}" />
                        </td>
                        <td colspan="19">
                            zapoznanie się z listą podopiecznych i ich dokumentacją medyczną
                        </td>
                    </tr>
                    <tr class="light-blue">
                        <td class="p-l-5">
                            <div class="light-blue p-t-5 p-b-0">
                                <img src="{% static '/images/dot.png' %}" />
                            </div>
                        </td>
                        <td colspan="19">
                            <div class="light-blue p-t-5 p-b-0">
                                zapoznanie się z listą wolontariuszy i ich kartami zgłoszeń
                            </div>
                        </td>
                    </tr>
                    <tr class="p-t-2">
                        <td class="p-l-5">
                            <img src="{% static '/images/dot.png' %}" />
                        </td>
                        <td colspan="19">
                            przydzielenie wolontariuszy do podopiecznych i podopiecznych o pokoi
                        </td>
                    </tr>
                    <tr class="light-blue">
                        <td class="p-l-5">
                            <div class="light-blue p-t-5 p-b-0">
                                <img src="{% static '/images/dot.png' %}" />
                            </div>
                        </td>
                        <td colspan="19">
                            <div class="light-blue p-t-5 p-b-0">
                                przygotowanie atrakcji, planu wydarzeń na turnusie
                            </div>
                        </td>
                    </tr>
                    <tr class="p-t-2">
                        <td class="p-l-5">
                            <img src="{% static '/images/dot.png' %}" />
                        </td>
                        <td colspan="19">
                            współpraca z rekolekcjonistą co do planu i dyscypliny
                        </td>
                    </tr>
                    <tr class="light-blue">
                        <td class="p-l-5">
                            <div class="light-blue p-t-5 p-b-0">
                                <img src="{% static '/images/dot.png' %}" />
                            </div>
                        </td>
                        <td colspan="19">
                            <div class="light-blue p-t-5 p-b-0">
                                rozlokowanie podopiecznych i wolontariuszy w zależności od potrzeb osób niepełnosprawnych
                            </div>
                        </td>
                    </tr>
                </table>

                Do obowiązków koordynatora w trakcie turnusu należało:

                <table class="m-0 m-b-15">
                    <tr class="light-blue">
                        <td class="p-l-5">
                            <div class="light-blue p-t-5 p-b-0">
                                <img src="{% static '/images/dot.png' %}" />
                            </div>
                        </td>
                        <td colspan="19">
                            <div class="light-blue p-t-5 p-b-0">
                                udział w szkoleniu wolontariuszy
                            </div>
                        </td>
                    </tr>
                    <tr class="p-t-2">
                        <td class="p-l-5">
                            <img src="{% static '/images/dot.png' %}" />
                        </td>
                        <td colspan="19">
                            rozdzielenie zadań pomiędzy wolontariuszy: opieka bezpośrednia, grupa porządkowa,
                            animatorzy kulturalni, pomoc kuchenna i inne w zależności od możliwości wolontariuszy i
                            potrzeb podopiecznych
                        </td>
                    </tr>
                    <tr class="light-blue">
                        <td class="p-l-5">
                            <div class="light-blue p-t-5 p-b-0">
                                <img src="{% static '/images/dot.png' %}" />
                            </div>
                        </td>
                        <td colspan="19">
                            <div class="light-blue p-t-5 p-b-0">
                                realizacja wcześniej opracowanego planu
                            </div>
                        </td>
                    </tr>
                    <tr class="p-t-2">
                        <td class="p-l-5">
                            <img src="{% static '/images/dot.png' %}" />
                        </td>
                        <td colspan="19">
                            egzekwowanie wykonania zadań, kontrola stanu obiektu
                        </td>
                    </tr>
                    <tr class="light-blue">
                        <td class="p-l-5">
                            <div class="light-blue p-t-5 p-b-0">
                                <img src="{% static '/images/dot.png' %}" />
                            </div>
                        </td>
                        <td colspan="19">
                            <div class="light-blue p-t-5 p-b-0">
                                załatwianie bieżących spraw kwatermistrzowskich i nietypowych potrzeb podopiecznych
                            </div>
                        </td>
                    </tr>
                    <tr class="p-t-2">
                        <td class="p-l-5">
                            <img src="{% static '/images/dot.png' %}" />
                        </td>
                        <td colspan="19">
                            kontrola jakości wolontariatu i zadowolenia podopiecznych
                        </td>
                    </tr>
                    <tr class="light-blue">
                        <td class="p-l-5">
                            <div class="light-blue p-t-5 p-b-0">
                                <img src="{% static '/images/dot.png' %}" />
                            </div>
                        </td>
                        <td colspan="19">
                            <div class="light-blue p-t-5 p-b-0">
                                współpraca z rekolekcjonistą
                            </div>
                        </td>
                    </tr>
                    <tr class="p-t-2">
                        <td class="p-l-5">
                            <img src="{% static '/images/dot.png' %}" />
                        </td>
                        <td colspan="19">
                            gromadzenie dokumentacji turnusu
                        </td>
                    </tr>
                </table>

                Do obowiązków koordynatora po turnusie należało:

                <table class="m-0 m-b-25">
                    <tr class="light-blue">
                        <td class="p-l-5">
                            <div class="light-blue p-t-5 p-b-0">
                                <img src="{% static '/images/dot.png' %}" />
                            </div>
                        </td>
                        <td colspan="19">
                            <div class="light-blue p-t-5 p-b-0">
                                uporządkowanie i przekazanie dokumentacji turnusu
                            </div>
                        </td>
                    </tr>
                    <tr class="p-t-2">
                        <td class="p-l-5">
                            <img src="{% static '/images/dot.png' %}" />
                        </td>
                        <td colspan="19">
                            kontrola stanu obiektu
                        </td>
                    </tr>
                    <tr class="light-blue">
                        <td class="p-l-5">
                            <div class="light-blue p-t-5 p-b-0">
                                <img src="{% static '/images/dot.png' %}" />
                            </div>
                        </td>
                        <td colspan="19">
                            <div class="light-blue p-t-5 p-b-0">
                                rozliczenie się z powierzonego sprzętu
                            </div>
                        </td>
                    </tr>
                    <tr class="p-t-2">
                        <td class="p-l-5">
                            <img src="{% static '/images/dot.png' %}" />
                        </td>
                        <td colspan="19">
                            rozliczenie się z powierzonych funduszy
                        </td>
                    </tr>
                </table>

                <table class="m-b-25">
                    <tr>
                        <td class="font-14 gray m-l-8" colspan="3">
                            <br />
                            Nr unikatowy zaświadczenia: <span class="bold">{{ batchvolunteer.unique_key }}</span> <br />
                            W celu sprawdzenia poprawności powyższych danych prosimy o kontakt <br/>
                            mailowy na adres <span class="dark-blue underline">{{ home.email_address }}</span>,
                            podanie numeru unikatowego, <br/>
                            imienia, nazwiska i roku w którym odbył się wolontariat.
                        </td>
                        <td class="center dark-red bold" colspan="2">
                            <div class="font-18 m-0">Kierownik Wspólnoty</div>
                            <div class="font-18 m-0 m-b-15">{{ congregation.community }}</div>
                            <div class="m-0 font-14">{{ congregation.director }}</div>
                        </td>
                    </tr>
                </table>

                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                <br /><br /><br /><br /><br /><br />

                <div class="center font-14">
                    {{ home.address }}, {{ home.zip_code }} {{ home.city }}, {{ home.page_url }} | {{ home.email_address }};
                    tel. {{ home.phone_number }}
                    <br />
                    NIP: {{ home.nip }}, Regon: {{ home.regon }}
                </div>

            </div>
        </div>
    </div>

{% endblock %}