{% extends "dj/base.html" %}

{% block content %}
    <section id="500">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    
                    <h2>Wewnętrzny błąd serwera.</h2>

                </div>
            </div>
        </div>
    </section>

{% endblock %}