{% extends "dj/base.html" %}
{% load auth_extras %}
{% load static %}

{% block content %}
    <section id="batches" class="p-b-10">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">

                    <h2>Moje turnusy</h2>
                    <hr /><br />

                        <ul>
                        {% for batch in batches_list %}
                            <li class="lead">
                                <span class="col-sm-12 col-xs-12 col-md-12 row">
                                     <span class="col-xs-6 col-sm-5 col-md-5 col-lg-7">
                                         <a class="medium-bold" href="{% url 'dj:batch_view' batch.batch.id %}">{{ batch.batch.name }} {{ batch.batch.institution.city }}  {{ batch.batch.begin_date|date:"Y" }}</a>,
                                         {{ batch.batch.begin_date|date:"d.m.Y" }} - {{ batch.batch.end_date|date:"d.m.Y" }}
                                     </span>
                                    <span class="col-xs-6 col-sm-7 col-md-7 col-lg-5 float-right text-right">
                                    {% if batch.batch|is_nurse:batch.volunteer %}
                                        {%  if batch.was_there is True %}
                                            <a class="link-decoration-none" href="{% url 'dj:nurse_certificate' batch.batch_id batch.unique_key %}">
                                                <button class="btn btn-success btn-sm">Zaświadczenie pielęgniarskie</button>
                                            </a>
                                        {% endif %}
                                        <a class="link-decoration-none" href="{% url 'dj:nurse_contract' batch.batch_id %}">
                                            <button class="btn btn-warning btn-sm">Umowa pielęgniarki</button>
                                        </a>
                                    {% elif batch.batch|is_doctor:batch.volunteer %}
                                        {%  if batch.was_there is True %}
                                            <a class="link-decoration-none" href="{% url 'dj:doctor_certificate' batch.batch_id batch.unique_key %}">
                                                <button class="btn btn-success btn-sm">Zaświadczenie lekarskie</button>
                                            </a>
                                        {% endif %}
                                        <a class="link-decoration-none" href="{% url 'dj:doctor_contract' batch.batch_id %}">
                                            <button class="btn btn-warning btn-sm">Umowa lekarza</button>
                                        </a>
                                        <a class="link-decoration-none" href="{% url 'dj:contract' batch.batch_id %}">
                                            <button class="btn btn-warning btn-sm">Umowa</button>
                                        </a>
                                    {% elif batch.batch.main_coordinator.volunteer == batch.volunteer or batch.batch.auxiliary_coordinator.volunteer == batch.volunteer %}
                                    {% else %}
                                        {%  if batch.was_there is True %}
                                            <a class="link-decoration-none" href="{% url 'dj:certificate' batch.batch_id batch.unique_key %}">
                                                <button class="btn btn-success btn-sm">Zaświadczenie</button>
                                            </a>
                                        {% endif %}
                                        {% if batch.volunteer.age == 'M' %}
                                            <a class="link-decoration-none" href="{% static "formularz_zgody_rodzicow.pdf" %}">
                                                <button class="btn btn-info btn-sm">Zgoda</button>
                                            </a>
                                        {% endif %}
                                        <a class="link-decoration-none" href="{% url 'dj:contract' batch.batch_id %}">
                                            <button class="btn btn-warning btn-sm">Umowa</button>
                                        </a>
                                        <a class="link-decoration-none" href="{% url 'dj:batch_tasks_edit' batch.batch.id %}">
                                             <button class="btn btn-primary btn-sm">Zadania</button>
                                        </a>
                                    {% endif %}
                                     </span>
                                </span>
                            </li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
        </div>
    </section>
    <section id="new-batch">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">

                    <h2>Zapisz się na turnus</h2>
                    <hr /><br />
                    <form class="form-horizontal" action="" role="form" method="post">
                        {% csrf_token %}
                        {% include 'dj/includes/form_template.html' %}

                        <div class="form-group bold">
                            Oświadczenie:<br />
                            Klikając przycisk "Zapisz się", niniejszym stwierdzam prawdziwość przypisanych do
                            konta danych i podpisuję się pod powyższym formularzem.<br /><br />
                        </div>

                        <div class="form-group">
                            <div class="p-l-5 offset-lg-3 col-lg-10 offset-sm-3 col-sm-9">
                                <button type="submit" class="btn btn-primary">Zapisz się</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>

{% endblock %}