{% extends "dj/base.html" %}

{% block content %}
    <section id="batches" class="p-b-10">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">

                    <h2 id="batch_name">{{ event }}</h2>
                    <hr /><br />

                    <span class="bold">Termin: </span>
                    {% if event.begin_date.day == event.end_date.day %}
                        {{ event.begin_date|date:"d.m.Y" }}
                    {% else %}
                        {{ event.begin_date|date:"d.m.Y" }} - {{ event.end_date|date:"d.m.Y" }}
                    {% endif %}
                    <br />
                    <span class="bold">Koordynatorzy: </span>
                    {% if not event.main_coordinator is None %}
                        {{ event.main_coordinator }} - {{ event.main_coordinator.volunteer.phone_number }}
                        ({{ event.main_coordinator.volunteer.email_address }})

                    {% endif %}
                    {% if not event.auxiliary_coordinator is None %}
                        , <br/>
                        {{ event.auxiliary_coordinator }} - {{ event.auxiliary_coordinator.volunteer.phone_number }}
                        ({{ event.auxiliary_coordinator.volunteer.email_address }})
                    {% endif %}
                    <br />
                    <span class="bold">Pielęgniarki: </span>
                    {% for nurse in event.nurse.all %}
                        {{ nurse }} - {{ nurse.volunteer.phone_number }},
                    {% endfor %}
                    <br />
                    <span class="bold">Lekarze: </span>
                    {% for doctor in event.doctor.all %}
                        {{ doctor }} - {{ doctor.volunteer.phone_number }},
                    {% endfor %}
                    <br />
                    <span class="bold">Informacje: </span>
                    {% if not event.info is None %}
                        {{ event.info }}
                    {% endif %}
                    <br />
                    <span class="bold">Koszt: </span>
                        {{ event_volunteer.total_cost }} zł
                    <br />
                    <span class="bold">Potwierdzenie wpłaty: </span>
                        {% if event_volunteer.is_paid == True %}
                            Tak
                        {% else %}
                            Nie
                        {% endif %}

                    <br /><br /><br />

                    <a class="link-decoration-none" href="{% url 'dj:event_registration' %}">
                        <button class="btn btn-default">Wróć</button>
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}