{% extends "dj/base.html" %}
{% load auth_extras %}
{% load static %}

{% block content %}
    <section id="events" class="p-b-10">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">

                    <h2>Moje wydarzenia</h2>
                    <hr /><br />

                        <ul>
                        {% for vol_event in vol_events_list %}
                            <li class="lead">
                                <span class="col-sm-12 col-xs-12 col-md-12 row">
                                    <span class="col-xs-6 col-sm-5 col-md-5 col-lg-7">
                                        <a class="medium-bold" href="{% url 'dj:event_details' vol_event.event.id %}">{{ vol_event.event.name }}</a>,
                                        {% if vol_event.event.begin_date.day == vol_event.event.end_date.day %}
                                            {{ vol_event.event.begin_date|date:"d.m.Y" }}
                                        {% else %}
                                            {{ vol_event.event.begin_date|date:"d.m.Y" }} - {{ vol_event.event.end_date|date:"d.m.Y" }}
                                        {% endif %}
                                    </span>
                                    <span class="col-xs-6 col-sm-7 col-md-7 col-lg-5 float-right text-right">

                                    </span>
                                </span>
                            </li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
        </div>
    </section>

    <section id="new-event">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">

                    <h2>Zapisz się na wydarzenie</h2>
                    <hr /><br />
                    <form class="form-horizontal" action="" role="form" method="post">
                        {% csrf_token %}
                        {% include 'dj/includes/event_sign_form_template.html' %}

                        <div class="form-group bold">
                            Oświadczenie:<br />
                            Klikając przycisk "Zapisz się", niniejszym stwierdzam prawdziwość przypisanych do
                            konta danych i podpisuję się pod powyższym formularzem.<br /><br />
                        </div>

                        <div class="small hidden">
                            <span id="prices_json">{{ prices_json }}</span>
                        </div>

                        <div class="form-group">
                            <div class="p-l-5 offset-lg-3 col-lg-10 offset-sm-3 col-sm-9">
                                <button type="submit" class="btn btn-primary">Zapisz się</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>

{% endblock %}


{% block extra_body_base %}
    <script src="{% static 'js/count_price_event.js' %}"></script>
{% endblock %}