{% extends "dj/base.html" %}

{% block content %}
    <section id="login" class="p-b-10">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">

                    <h2>Logowanie</h2>
                    <hr /><br />
                    <form class="form-horizontal" action="" role="form" method="post">
                        {% csrf_token %}
                        {% include 'dj/includes/form_template.html' %}

                        <div class="form-group">
                            <div class="p-l-5 offset-lg-3 col-lg-10 offset-sm-3 col-sm-9">
                                <button id="login_btn" type="submit" class="btn btn-primary">Zaloguj</button>
                            </div>
                        </div>
                    </form>
                    <br />
                    <a id="coordinator_login" href="{% url 'coordinatepanel:coordinator_login' %}">
                        Szukasz panelu dla koordynatora?
                    </a>

                </div>
            </div>
        </div>
    </section>

{% endblock %}