{% extends "dj/base.html" %}
{% load static %}

{% block content %}
    <section id="registration">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">

                    <span class="float-right">
                        <a class="link-decoration-none" href="{% url 'dj:event_registration' %}">
                            <button class="btn btn-primary m-b-10">Wydarzenia</button>
                        </a>
                        <a class="link-decoration-none" href="{% url 'dj:registration' %}">
                            <button class="btn btn-warning m-b-10">Turnusy</button>
                        </a>
                        <a class="link-decoration-none" href="{% url 'dj:workshop_sign' %}">
                            <button class="btn btn-success m-b-10">Warsztaty</button>
                        </a>
                        <a class="link-decoration-none" href="{% url 'dj:music_training_sign' %}">
                            <button class="btn btn-info m-b-10">Muzyczne</button>
                        </a>
                    </span>

                    <h2>Zapisz się na rekolekcje</h2>
                    <hr /><br />
                    <form class="form-horizontal" action="" role="form" method="post">
                        {% csrf_token %}
                        {% include 'dj/includes/retreat_form_template.html' %}

                        <div class="form-group bold">
                            Oświadczenie:<br />
                            Klikając przycisk "Zarejestruj", niniejszym stwierdzam prawdziwość wprowadzonych do
                            formularza danych i podpisuję się pod nim.<br /><br />
                        </div>

                        <div class="small hidden">
                            <span id="prices_json">{{ prices_json }}</span>
                        </div>

                        <div class="form-group">
                            <div class="p-l-5 offset-lg-3 col-lg-9 offset-sm-5 col-sm-7">
                                <button id="register" type="submit" class="btn btn-primary">Zarejestruj</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block extra_body_base %}
    <script src="{% static 'js/count_price_retreat.js' %}"></script>
{% endblock %}