{% extends "dj/base.html" %}
{% load widget_tweaks %}

{% block content %}
    <section id="registration" class="p-b-10">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">

                    <h2>Moje hasło</h2>
                    <hr /><br />

                    <form class="form-horizontal" action="" role="form" method="post">
                        {% csrf_token %}
                        {% include 'dj/includes/form_template.html' %}

                        <div class="form-group">
                            <div class="p-l-5 offset-lg-3 col-lg-9 offset-sm-5 col-sm-7">
                                <button id="change_password_btn" type="submit" class="btn btn-primary">Zmień hasło</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>

{% endblock %}