{% extends "homepanel/base.html" %}
{% load static %}
{% load auth_extras %}

{% block extra_head_base %}
    <link rel="stylesheet" href="{% static 'css/jquery-ui/jquery-ui.min.css' %}">
{% endblock %}

{% block content %}
    <section id="registration">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">

                    <h2>Dodaj rezerwację pokoju - krok 1.</h2>
                    <hr /><br />
                    <form class="form-horizontal" action="" role="form" method="post">
                        {% csrf_token %}
                        {% include 'homepanel/includes/form_template.html' %}

                        <div class="form-group">
                            <div class="p-l-5 offset-lg-3 col-lg-9 offset-sm-5 col-sm-7">
                                <button type="submit" class="btn btn-primary">Dalej >></button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block extra_body_base %}
    <script type="text/javascript">
        $(function () {
            $('#id_begin_date').datetimepicker({
                locale: 'pl',
                format: 'DD.MM.YYYY'
            });
            $('#id_end_date').datetimepicker({
                locale: 'pl',
                format: 'DD.MM.YYYY'
            });
        });
    </script>
{% endblock %}