{% extends "homepanel/base.html" %}

{% block content %}
    <section id="participant-details">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">

                    <h2>Dane</h2>

                    <hr /><br />
                    <span class="medium-bold">Imię:</span> {{ participant.first_name }}
                    <br />
                    <span class="medium-bold">Nazwisko:</span> {{ participant.surname }}

                    {% if participant.email_address is not None %}
                        <br />
                        <span class="medium-bold">Adres e-mail:</span>
                        {{ participant.email_address }}
                    {% endif %}

                    <br />
                    <span class="medium-bold">Płeć:</span> {{ participant.get_sex_display }}
                    <br />
                    <span class="medium-bold">PESEL:</span> {{ participant.pesel }}

                    {% if participant.phone_number is not None %}
                        <br />
                        <span class="medium-bold">Nr telefonu:</span>
                        {{ participant.phone_number }}
                    {% endif %}

                    {% if participant.guardian_name is not None %}
                        <br />
                        <span class="medium-bold">Dane opiekuna:</span>
                        {{ participant.guardian_name }}
                    {% endif %}

                    {% if participant.phone_number is not None %}
                        <br />
                        <span class="medium-bold">Nr telefonu opiekuna:</span>
                        {{ participant.phone_number }}
                    {% endif %}

                    <br />
                    <span class="medium-bold">Adres: </span>
                    {{ participant.address }}, {{ participant.zip_code }} {{ participant.city }}

                    <br />
                    <span class="medium-bold">Pierwszy raz:</span>
                    {% if participant.is_first_time is True %}
                        Tak
                    {% else %}
                        Nie
                    {% endif %}

                    <br />
                    <span class="medium-bold">Skąd zna DJ:</span> {{ participant.get_how_know_dj_display }}

                    <br />
                    <span class="medium-bold">Komunikacja:</span> {{ participant.get_communication_display }}

                    {% if participant.foundation is not None %}
                        <br />
                        <span class="medium-bold">Fundacja:</span>
                        {{ participant.foundation }}
                    {% endif %}

                    {% if participant.drugs == 'T' %}
                        <br />
                        <span class="medium-bold">Regularnie przyjmuje leki:</span>
                        {{ participant.get_drugs_display }}
                    {% endif %}

                    <br />
                    <span class="medium-bold">Uwagi:</span>
                        <ul>
                        {% if participant.mental_disability is True %}
                            <li>Niepełnosprawność intelektualna</li>
                        {% endif %}

                        {% if participant.not_need_help is True %}
                            <li>Nie potrzebuje pomocy przy codziennych czynnościach</li>
                        {% endif %}

                        {% if participant.wheelchair is True %}
                            <li>Porusza się na wózku</li>
                        {% endif %}

                        {% if participant.disabled_hands is True %}
                            <li>Niesprawne ręce</li>
                        {% endif %}

                        {% if participant.crutches is True %}
                            <li>Porusza się o kulach</li>
                        {% endif %}

                        {% if participant.disabled_sight is True %}
                            <li>Niesprawny wzrok</li>
                        {% endif %}

                        {% if participant.disabled_hearing is True %}
                            <li>Niesprawny słuch</li>
                        {% endif %}

                        {% if participant.epilepsy is True %}
                            <li>Możliwe ataki padaczki</li>
                        {% endif %}
                        </ul>
                    {{ participant.details }}
                    <br />

                    {% if participant.photo.url is not None %}
                        <br /><br />
                        <img class="img-fluid d-block col-lg-5 col-md-6 col-sm-8 col-12" src="{{ participant.photo.url }}">
                    {% endif %}

                    <br /><br />

                    <a class="link-decoration-none" href="{% url 'homepanel:edit_participant' participant.id %}">
                        <button class="btn btn-warning btn-sm">Edytuj</button>
                    </a>

                </div>
            </div>
        </div>
    </section>

{% endblock %}