{% extends "homepanel/base.html" %}

{% block content %}
    <section id="batch_participants" class="p-b-10">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">

                    <h2>Lista podopiecznych</h2>
                    <hr /><br />

                    <ul>
                        {% for obj in batch_participants %}
                            <li class="lead">

                                <span class="col-sm-12 col-xs-12 col-md-12 row">
                                    <span class="col-xs-6 col-sm-6 col-md-7 col-lg-5">
                                        <a class="medium-bold" href="{%  url 'homepanel:participant_details' obj.participant.id %}">
                                              {{ obj.participant }}
                                        </a>
                                        {% if obj.room is not None %}, pokój: {{ obj.room }}{% endif %}
                                        {% if obj.volunteer is not None %}, wolontariusz: {{ obj.volunteer }}{% endif %}
                                    </span>
                                    <span class="col-xs-6 col-sm-6 col-md-5 col-lg-7 float-right text-right">
                                        {% if obj.batch.end_date >= now %}
                                            <a class="link-decoration-none" href="{%  url 'homepanel:move_participant_to_reserve_list' batch_id obj.participant.id %}">
                                                <button class="btn btn-info btn-sm">Rezerwa</button>
                                            </a>
                                            <a class="link-decoration-none" href="{%  url 'homepanel:batch_participant_edit' batch_id obj.participant.id %}">
                                                <button class="btn btn-warning btn-sm">Przepisz</button>
                                            </a>
                                        {% endif %}
                                        <a class="link-decoration-none" href="{% url 'homepanel:certificate' batch_id obj.unique_key %}">
                                            <button class="btn btn-success btn-sm">Zaświadczenie</button>
                                        </a>
                                     </span>
                                </span>

                            </li>
                        {% endfor %}
                    </ul>

                    <br />

                    <h2>Lista rezerwowa</h2>
                    <hr /><br />

                    <ul>
                        {% for obj in batch_participants_reserve %}
                            <li class="lead">

                                <span class="col-sm-12 col-xs-12 col-md-12 row">
                                    <span class="col-xs-6 col-sm-6 col-md-7 col-lg-5">
                                          <a class="medium-bold" href="{%  url 'homepanel:participant_details' obj.participant.id %}">
                                              {{ obj.participant }}
                                          </a>
                                        - {{ obj.sign_date|date:"d.m.Y H:i" }}
                                        {% if obj.room is not None %}, pokój: {{ obj.room }}{% endif %}
                                        {% if obj.volunteer is not None %}, wolontariusz: {{ obj.volunteer }}{% endif %}
                                    </span>
                                    <span class="col-xs-6 col-sm-6 col-md-5 col-lg-7 float-right text-right">
                                        {% if obj.batch.end_date >= now %}
                                            <a class="link-decoration-none" href="{%  url 'homepanel:move_participant_to_base_list' batch_id obj.participant.id %}">
                                                <button class="btn btn-info btn-sm">Lista</button>
                                            </a>
                                            <a class="link-decoration-none" href="{%  url 'homepanel:batch_participant_edit' batch_id obj.participant.id %}">
                                                <button class="btn btn-warning btn-sm">Przepisz</button>
                                            </a>
                                        {% endif %}
                                        <a class="link-decoration-none" href="{% url 'homepanel:certificate' batch_id obj.unique_key %}">
                                            <button class="btn btn-success btn-sm">Zaświadczenie</button>
                                        </a>
                                     </span>
                                </span>

                            </li>
                        {% endfor %}
                    </ul>

                    <br />

                    <a class="link-decoration-none"  href="{% url 'homepanel:batch_view' batch_id %}">
                        <button class="btn btn-default">Wróć</button>
                    </a>

                    <br /><br />
                </div>
            </div>
        </div>
    </section>

{% endblock %}