<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drabina Jakubowa</title>

    {% load static %}
    {% load auth_extras %}

    {% block extra_head_base %}
        {% block extra_head %}{% endblock %}
    {% endblock %}

    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" type="text/css"/>
    <link href="{% static 'css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-datetimepicker.css' %}" rel="stylesheet">
    <link href="{% static 'css/scrolling-nav.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Cuprum" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/icodrabina.png' %}">
</head>
<body id="page-top">

    {% include "coordinatepanel/includes/header.html" %}

    <div class="">
        {% if messages %}
            <section class="m-b-250-">
                <div class="messages container">
                    <div class="col-lg-10 p-t-10 p-b-10 mx-auto message-border bold">
                        {% for message in messages %}
                            {% if message.level == 25 %}
                                <p class="green m-0">{{ message }}</p>
                            {% elif message.level == 30 or message.level == 40 %}
                                <p class="dark-red m-0">{{ message }}</p>
                            {% else %}
                                <p class="dark-blue m-0">{{ message }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </section>
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>

    <footer class="bg-dark">
        <div class="container">
            <p class="m-t-20 text-center text-white f-14">Copyright &copy; Ewelina Ruchlewicz 2018 - praca inżynierska na Wydziale Informatyki Politechniki Białostockiej</p>
        </div>
    </footer>

    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/moment.js' %}"></script>
    <script src="{% static 'js/moment-with-locales.js' %}"></script>
    <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'js/scrolling-nav.js' %}"></script>

    {% block extra_body_base %}
        {% block extra_body %}{% endblock %}
    {% endblock %}

</body>
</html>