{% extends "coordinatepanel/base.html" %}
{% load static %}

{% block content %}
    <section id="payments">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">

                    <h2>Płatności - {{ event_volunteer }}</h2>
                    <hr /><br />
                    <form class="form-horizontal" action="" role="form" method="post">
                        {% csrf_token %}
                        {% include 'coordinatepanel/includes/form_template.html' %}

                        <div class="form-group">
                            <div class="p-l-5 offset-lg-3 col-lg-9 offset-sm-5 col-sm-7">
                                <button type="submit" class="btn btn-primary">Zapisz</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block extra_body_base %}
    <script src="{% static 'js/payment_fields_readonly.js' %}"></script>
{% endblock %}