{% extends "easy_pdf/base.html" %}
{% load static %}
{% load mathfilters %}
{% load auth_extras %}

{% block extra_style %}
    <link rel="stylesheet" href="{% static '/css/custom.css' %}" />
    <style type="text/css">
        @page {
            margin-left: 1cm;
            margin-right: 1cm;
            margin-top: 1cm;
            margin-bottom: 1cm;
        }
        @font-face {
            font-family: Cuprum;
            src: url(/static/fonts/Cuprum-Regular.ttf); }
        @font-face {
            font-family: CuprumBold;
            src: url(/static/fonts/Cuprum-Bold.ttf); }
        .cuprum {
            font-family: Cuprum, sans-serif;
        }
        .font-18 {
            font-size: 18px;
        }
        .font-14 {
            font-size: 14px;
        }
        .bold {
            font-family: CuprumBold, sans-serif;
        }
        .border {
            border: 1px solid black;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="content">
        <div class="main cuprum font-14">
            <div class="container">

                <div class="font-18 m-0 m-b-5 bold">Wolontariusze</div>

                <table class="m-0 border">
                    <thead>
                        <tr class="p-t-2 bold">
                            <th class="gray-background">Nr</th>
                            <th class="gray-background" colspan="6">Wolontariusz</th>
                            <th class="gray-background" colspan="2">Wiek</th>
                            <th class="gray-background" colspan="3">Miasto</th>
                            <th class="gray-background" colspan="3">Telefon</th>
                            <th class="gray-background" colspan="3">Opiekun</th>
                            <th class="gray-background" colspan="2">Pokój</th>
                            <th class="gray-background" colspan="6">Podopieczni</th>
                            <th class="gray-background" colspan="2">Pokoje</th>
                        </tr>
                    </thead>
                    {% for batchvolunteer in batchvolunteers %}
                    {% if batchvolunteer.volunteer.sex == 'K' %}
                    <tr class="p-t-2">
                        <td class="center pink-background">
                             {{ forloop.counter }}.
                        </td>
                        <td class="center pink-background" colspan="6">
                            {{ batchvolunteer.volunteer.surname }} {{ batchvolunteer.volunteer.first_name }}
                        </td>
                         <td class="center pink-background" colspan="2">
                            {{ batchvolunteer.volunteer.pesel|get_age }}
                        </td>
                        <td class="center pink-background" colspan="3">
                            {{ batchvolunteer.volunteer.city }}
                        </td>
                        <td class="center pink-background" colspan="3">
                            {% if batchvolunteer.volunteer.phone_number is not None %}
                                {{ batchvolunteer.volunteer.phone_number }}
                            {% endif %}
                        </td>
                        <td class="center pink-background" colspan="3">
                            {% if batchvolunteer.volunteer.guardian_phone_number is not None %}
                                {{ batchvolunteer.volunteer.guardian_phone_number }}
                            {% endif %}
                        </td>
                        <td class="center pink-background" colspan="2">
                            {% if batchvolunteer.room is not None %}
                                {{ batchvolunteer.room }}
                            {% endif %}
                        </td>
                        <td class="center pink-background" colspan="6">
                            {% for obj in batchparticipants %}
                                {% if obj.volunteer == batchvolunteer.volunteer %}
                                    <div>{{ obj.participant.surname }} {{ obj.participant.first_name }}</div>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td class="center pink-background" colspan="2">
                            {% for obj in batchparticipants %}
                                {% if obj.volunteer == batchvolunteer.volunteer %}
                                    {% if obj.room is not None %}
                                        <div>{{ obj.room }}</div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                        {% else %}
                    <tr class="p-t-2">
                        <td class="center blue-background">
                             {{ forloop.counter }}.
                        </td>
                        <td class="center blue-background" colspan="6">
                            {{ batchvolunteer.volunteer.surname }} {{ batchvolunteer.volunteer.first_name }}
                        </td>
                         <td class="center blue-background" colspan="2">
                            {{ batchvolunteer.volunteer.pesel|get_age }}
                        </td>
                        <td class="center blue-background" colspan="3">
                            {{ batchvolunteer.volunteer.city }}
                        </td>
                        <td class="center blue-background" colspan="3">
                            {% if batchvolunteer.volunteer.phone_number is not None %}
                                {{ batchvolunteer.volunteer.phone_number }}
                            {% endif %}
                        </td>
                        <td class="center blue-background" colspan="3">
                            {% if batchvolunteer.volunteer.guardian_phone_number is not None %}
                                {{ batchvolunteer.volunteer.guardian_phone_number }}
                            {% endif %}
                        </td>
                        <td class="center blue-background" colspan="2">
                            {% if batchvolunteer.room is not None %}
                                {{ batchvolunteer.room }}
                            {% endif %}
                        </td>
                        <td class="center blue-background" colspan="6">
                            {% for obj in batchparticipants %}
                                {% if obj.volunteer == batchvolunteer.volunteer %}
                                    <div>{{ obj.participant.surname }} {{ obj.participant.first_name }}</div>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td class="center blue-background" colspan="2">
                            {% for obj in batchparticipants %}
                                {% if obj.volunteer == batchvolunteer.volunteer %}
                                    {% if obj.room is not None %}
                                        <div>{{ obj.room }}</div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </table>

            </div>
        </div>
    </div>

{% endblock %}