{% load mathfilters %}

{% block content %}
    <h2>Podopieczni</h2>
    <hr />
    <p class="lead">
        Niepełnosprawni ruchowo, osoby upośledzone umysłowo, starsi, schorowani, potrzebujący opieki...
        <br />
        Wiek - właściwie dowolny
    </p>
    <h5>To na was czeka Drabina Jakubowa!</h5>
    <br /><br />
    <h4>Zapisy</h4>
    <hr />
    <p class="lead">
        Zapisy na turnusy/Sylwestra są obsługiwane telefonicznie, należy dzwonić w dni robocze nr tel. 297423565 wew.
        107 w celu omówienia zgłoszenia. Rezerwujemy sobie prawo do spotkania twarzą w twarz z nowymi podopiecznymi.
        <br /><br />
        Potwierdzeniem zgłoszenia jest wpłacenie zaliczki w wysokości 100 złotych. Pozostała kwota do zapłaty w dniu
        przyjazdu. W wypadku rezygnacji zaliczka zostanie zwrócona, jeśli podopieczny zgłosi ją przynajmniej tydzień
        przed początkiem turnusu.
         <br /><br />
        UWAGA: Od 2016 roku nie prowadzimy zapisów na turnusy przy ul. Lindleya w Warszawie.
        <br /><br />
    </p>
    <h4>Koszt</h4>
    <hr />
    <p class="lead">
        {% for city in cities %}
            {{ city.institution__city }}:
            {% for price in prices %}
                {% if price.service == city.institution__city %}
                    {{ price.price }} zł
                {% endif %}
            {% endfor %}
            <br/>
        {% endfor %}
    <br />
    </p>
    <p class="lead">
        <h4>Terminy {{ now.year }}/{{ now.year|add:1 }}</h4>
    <hr />
    <p class="lead">
        {% for city in cities %}
            <span class="bold">{{ city.institution__city }}:</span>
            {% for batch in batches_participant %}
                {% if batch.institution.city == city.institution__city %}
                    <br />
                    {{ batch.name }}: {{ batch.begin_date|date:"d E" }} - {{ batch.end_date|date:"d E" }}
                {% endif %}
            {% endfor %}
            <br/><br/>
        {% endfor %}
    </p>
{% endblock %}